:root {
    --bg-color: #18191b;
    --theme-color: #0e0f11;
    --main-color: #fd7014;
}

/* --------------- Menu --------------- */

.navbar {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    z-index: 999;
}

.navbar.nav-scroll {
    padding: 0;
    position: fixed;
    top: -80px;
    padding: 15px 0;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar .logo {
    padding: 7px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.navbar .logo img {
    width: auto;
    height: 50px;
}

.navbar .navbar-nav {
    padding: 2px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-left: 15px;
}

.navbar .navbar-nav .nav-link {
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
}

.navbar .navbar-nav .nav-link.active {
    background: rgba(255, 255, 255, 0.1);
}

.navbar .topnav .butn {
    padding: 7px 20px;
    background: #fff;
    color: #1d1d1d;
    margin-right: 15px;
}

/* --------------- header --------------- */

.header-dm .caption {
    position: relative;
    z-index: 3;
}

.header-dm .imgs-cube {
    position: relative;
}

.header-dm .imgs-cube .imgs {
    position: absolute;
    top: 50px;
    right: -100px;
}

.header-dm .imgs-cube .imgs .circle {
    width: 200px;
    position: relative;
    z-index: 4;
}

.header-dm .imgs-cube .imgs .circle:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    z-index: -1;
}

.header-dm .mimg {
    position: absolute;
    top: -30px;
    bottom: 0;
    right: 0;
    width: 50%;
}

.header-dm .mimg img {
    border-radius: 0 30px 30px 0;
}

.header-dm .mimg .shaps.top {
    background: var(--theme-color);
    border-radius: 0 0 30px 0;
    width: 45%;
    height: 150px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.header-dm .mimg .shaps.top .shap-right-top {
    position: absolute;
    top: 0;
    right: -2.05rem;
}

.header-dm .mimg .shaps.top .shap-right-top svg {
    width: 2.1rem;
    height: 2.1rem;
}

.header-dm .mimg .shaps.top .shap-left-bottom {
    position: absolute;
    bottom: -2.05rem;
    left: -1px;
}

.header-dm .mimg .shaps.top .shap-left-bottom svg {
    width: 2.1rem;
    height: 2.1rem;
}

.header-dm .mimg .text {
    background: var(--theme-color);
    border-radius: 0 30px 0 0;
    padding: 30px 30px 0 0;
    position: absolute;
    bottom: -1px;
    left: -1px;
    text-align: right;
}

.header-dm .mimg .text .shap-left-top {
    position: absolute;
    left: 0;
    top: -2.05rem;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.header-dm .mimg .text .shap-left-top svg {
    width: 2.1rem;
    height: 2.1rem;
}

.header-dm .mimg .text .shap-right-bottom {
    position: absolute;
    right: -2.05rem;
    bottom: -1px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.header-dm .mimg .text .shap-right-bottom svg {
    width: 2.1rem;
    height: 2.1rem;
}

/* --------------- Services --------------- */

.services-sa .item {
    background: var(--bg-color);
    padding: 15px;
    border-radius: 20px;
}

.services-sa .item .cont {
    padding: 15px;
}

.services-sa .item .cont .icon {
    width: 52px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.services-sa .item .cont .icon img {
    width: 25px;
}

.services-sa .item .img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 250px;
}

.services-sa .item .cont .icon.invert img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.services-sa .item .cont .text {
    margin-top: 100px;
    margin-bottom: 20px;
}

.services-sa .item .cont .text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.marq-sa {
    overflow: hidden !important;
}

.marq-sa .item {
    padding: 0 80px !important;
    position: relative;
}

.marq-sa .item:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.marq-sa .item h2 {
    white-space: nowrap;
    font-size: 96px;
    line-height: 120px;
    letter-spacing: -4px;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#fff),
        to(transparent)
    );
    background: -webkit-linear-gradient(left, #fff, transparent);
    background: -o-linear-gradient(left, #fff, transparent);
    background: linear-gradient(to right, #fff, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --------------- Pricing --------------- */

.pricing-ds .bg-gray {
    background: rgba(255, 255, 255, 0.1);
}

.pricing-ds .pricing-tabsHead .price-radios {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7px;
    border-radius: 50px;
}

.pricing-ds .pricing-tabsHead .price-radios .form-check {
    margin: 0;
    padding: 0;
}

.pricing-ds .pricing-tabsHead .price-radios .form-check .form-check-label {
    background-color: transparent;
    font-size: 14px;
    border-radius: 30px;
    padding: 10px 15px;
    text-transform: capitalize;
    cursor: pointer;
}

.pricing-ds
    .pricing-tabsHead
    .price-radios
    .form-check
    .form-check-label
    small {
    color: #000;
    background: #fff;
    padding: 1px 5px;
    font-size: 10px;
}

.pricing-ds .pricing-tabsHead .price-radios .form-check .form-check-input {
    display: none;
}

.pricing-ds
    .pricing-tabsHead
    .price-radios
    .form-check
    .form-check-input:checked
    ~ .form-check-label {
    background-color: var(--main-color);
}

.pricing-ds .content {
    min-width: 800px;
    margin-top: 50px;
}

.pricing-ds .content .price-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.pricing-ds .content .price-head .price-headTitle {
    width: 34%;
}

.pricing-ds .content .price-head .price-headItem {
    position: relative;
    width: 22%;
    text-align: center;
    padding: 30px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pricing-ds .content .price-head .price-headItem .label {
    position: absolute;
    top: -60px;
    right: -15px;
    z-index: 5;
    width: 160px;
}

.pricing-ds .content .price-head .price-headItem h6 {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pricing-ds .content .price-head .price-headItem h2 {
    font-size: 40px;
    letter-spacing: normal;
    margin-bottom: 15px;
}

.pricing-ds .content .price-head .price-headItem h2 span {
    font-size: 18px;
    color: #999;
    font-weight: 400;
}

.pricing-ds .content .price-head .price-headItem p {
    font-size: 13px;
    color: #bbb;
    line-height: 1.5;
}

.pricing-ds .content .price-body .price-bodyItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.pricing-ds .content .price-body .price-bodyItems:last-of-type {
    border: 0;
}

.pricing-ds .content .price-body .price-bodyItems .price-bodyTitle {
    width: 34%;
    padding: 15px 0;
    font-size: 14px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
}

.pricing-ds .content .price-body .price-bodyItems .price-bodyTitle i {
    font-size: 11px;
    color: #999;
    margin: 0 3px;
}

.pricing-ds .content .price-body .price-bodyItems .price-item {
    width: 22%;
    padding: 15px 0;
    text-align: center;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
}

.pricing-ds .content .price-body .price-bodyItems .price-item i {
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: #2aa20c;
    font-size: 13px;
}

.pricing-ds .content .price-body .price-bodyItems .price-item span {
    font-size: 14px;
}

.pricing-ds .content .price-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pricing-ds .content .price-foot .price-footTitle {
    width: 34%;
}

.pricing-ds .content .price-foot .price-foot-item {
    width: 22%;
    text-align: center;
    padding: 30px 0 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pricing-ds .monthly_price {
    display: none;
}

.pricing-ds .botm {
    font-size: 14px;
    text-align: center;
}

.pricing-ds .botm a {
    color: var(--main-color);
    text-decoration: underline;
    margin-left: 15px;
}

/* --------------- Awards --------------- */

.intro-vid .bg-img {
    height: 580px;
    border-radius: 30px;
    margin-top: -140px;
    position: relative;
}

.intro-vid .bg-img .states {
    position: absolute;
    top: -120px;
    left: 30px;
    background: var(--theme-color);
    padding: 60px 40px;
    border-radius: 30%;
    max-width: 300px;
    z-index: 3;
}

.intro-vid .bg-img .states .imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.intro-vid .bg-img .states .imgs .img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
}

.intro-vid .bg-img .states .imgs .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--main-color);
    text-align: center;
    line-height: 40px;
    margin-left: -10px;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.intro-vid .bg-img .states .imgs .icon img {
    width: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.intro-vid .bg-img .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.intro-vid .bg-img .play-button a {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.1);
}

/* --------------- Works --------------- */

.works-dm .sec-head {
    padding-left: 100px;
}

.works-dm .item {
    margin-top: 80px;
}

.works-dm .item:hover .img .tags {
    opacity: 1;
}

.works-dm .item .img {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.works-dm .item .img .tags {
    position: absolute;
    bottom: 15px;
    left: 20px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.works-dm .item .img .tags a {
    padding: 7px 15px;
    background: #fff;
    border-radius: 30px;
    color: var(--theme-color);
    font-size: 14px;
    margin: 0 -5px;
}

.works-dm .item .img .tags a:hover {
    background: var(--main-color);
}

.works-dm .item .img .tags.colorful a {
    background: var(--main-color);
}

.works-dm .item .info {
    font-size: 14px;
}

.works-dm .item .info .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: 0 10px;
}

/* --------------- Services --------------- */

.services-dm {
    position: relative;
    z-index: 3;
}

.services-dm .img-patern {
    position: absolute;
    bottom: 10%;
    left: -15%;
    width: 30%;
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 0.07;
    z-index: -1;
}

.services-dm .item {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.services-dm .item:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.services-dm .item .title h2 {
    font-size: 100px;
    letter-spacing: -4px;
}

.services-dm .item p {
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.services-dm .item .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: 150px;
}

.services-dm .item .icon img {
    width: 30px;
}

.services-dm .item:hover .title {
    margin-bottom: 0;
    color: var(--main-color);
}

.services-dm .item:hover p {
    opacity: 1;
}

.numbers-dm .item h2 {
    font-size: 120px;
    font-weight: 200;
}

.numbers-dm .item h2 span {
    font-size: 50px;
}

.numbers-dm .item h6 {
    font-size: 18px;
}

/* --------------- Clients --------------- */

.clients-dm {
    position: relative;
}

.clients-dm:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    width: 200px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 3;
}

.clients-dm:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    width: 200px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.clients-dm .item {
    margin: 0 80px;
}

.clients-dm .item img {
    width: 140px;
}

/* --------------- Testimonials --------------- */

.testimonials-dm {
    overflow: hidden !important;
}

.testimonials-dm .sec-head .states h6 {
    font-size: 16px;
}

.testimonials-dm .sec-head .states h6 i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    border-radius: 50%;
    background: #1a1b1e;
    margin-right: 5px;
}

.testimonials-dm .swiper {
    -webkit-clip-path: inset(-100vw -100vw -100vw 0);
    clip-path: inset(-100vw -100vw -100vw 0);
    overflow: visible;
}

.testimonials-dm .swiper-wrapper {
    padding-bottom: 140px;
}

.testimonials-dm .item {
    padding: 40px 30px;
    border-radius: 15px;
    background: var(--bg-color);
}

.testimonials-dm .item .fit-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonials-dm .item span.sub-color {
    font-size: 16px;
}

.testimonials-dm .item .stars {
    color: var(--main-color);
    font-size: 13px;
}

.testimonials-dm .swiper-pagination {
    position: absolute;
    bottom: 0;
    top: auto;
    background: rgba(255, 255, 255, 0.08);
    height: 2px;
}

.testimonials-dm
    .swiper-pagination-progressbar
    .swiper-pagination-progressbar-fill {
    background: #fff;
}

/* --------------- Awards --------------- */

.awards-sa .item-title {
    padding: 0 15px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.awards-sa .item-title > div {
    padding: 0;
}

.awards-sa .item-title h6 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.7;
}

.awards-sa .item-line {
    padding: 25px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 3;
}

.awards-sa .item-line > div {
    padding: 0;
}

.awards-sa .item-line > div:last-of-type {
    text-align: right;
}

.awards-sa .item-line:hover:after {
    height: 100%;
}

.awards-sa .item-line:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.05);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    z-index: -1;
}

.awards-sa .item-line .honors h6 {
    font-size: 14px;
}

.awards-sa .item-line .project-date span {
    font-size: 14px;
    opacity: 0.7;
}

/* --------------- Blogs --------------- */

.blog-sa .item .img {
    height: 470px;
    border-radius: 15px;
}

.blog-sa .item .cont .info a {
    font-size: 14px;
}

.blog-sa .item .cont .info .date {
    opacity: 0.5;
    margin-left: 5px;
}

/* --------------- Contact --------------- */

.contact-sa .box {
    padding: 120px 60px;
    /* background-image: url(../imgs/gr-back.png); */
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    overflow: hidden;
}

.contact-sa .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.contact-sa .contact-form label {
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-sa .contact-form label .star {
    color: red;
    padding-left: 5px;
}

.contact-sa .contact-form input,
.contact-sa .contact-form textarea {
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 0 0 10px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
}

.contact-sa .contact-form button {
    background: transparent;
    color: #fff;
}

/* --------------- footer --------------- */

.footer-sa {
    background: var(--bg-color);
    border-radius: 30px 30px 0 0;
}

.footer-sa .logo {
    width: 160px;
}

.footer-sa .contact-info .item {
    margin-bottom: 50px;
}

.footer-sa .contact-info .item span {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-sa .contact-info .social-icon a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    font-size: 14px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.footer-sa .contact-info .social-icon a:hover {
    border-color: #fff;
}

.footer-sa .sub-footer .copy p {
    font-size: 14px;
}

.footer-sa .sub-footer .copy p a {
    color: #fff;
}

.footer-sa .sub-footer .links {
    width: 100%;
}

.footer-sa .sub-footer .links a {
    font-size: 14px;
}

.footer-sa .sub-footer .links .active {
    color: #fff;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    background-color: var(--theme-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 64px;
    letter-spacing: -3px;
}

h2 {
    font-size: 48px;
    letter-spacing: -3px;
}

h3 {
    font-size: 40px;
    letter-spacing: -2px;
}

h4 {
    font-size: 36px;
    letter-spacing: -2px;
}

h5 {
    font-size: 32px;
    letter-spacing: -1px;
}

h6 {
    font-size: 24px;
}

.sub-bg {
    background: var(--bg-color);
}

.sub-color {
    color: #a4a4a4;
}

.sub-head {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #a4a4a4;
    margin: 0;
}

.sec-head .sub-head {
    position: relative;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 300;
}

.sec-head .sub-head:after {
    content: "";
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
}

.text-indent {
    text-indent: 20%;
}

.loader-wrap svg {
    fill: #1d1d1d;
}

.crv-butn span {
    background: var(--main-color);
    color: #0e0f11;
}

.crv-butn .text {
    line-height: 40px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px;
    border-radius: 30px;
    position: relative;
}

.crv-butn .text:after {
    content: "";
    width: 30px;
    height: 30px;
    background: var(--main-color);
    position: absolute;
    top: 5px;
    right: -15px;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.crv-butn .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-left: -10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.crv-butn .icon img {
    width: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.crv-butn:hover .text:after {
    border-radius: 50%;
    top: calc(50% - 5px);
    right: 0;
    height: 10px;
}

.crv-butn:hover .icon {
    margin-left: 5px;
}

.crv-butn:hover .icon img {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.butn.butn-bord {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.butn.butn-bord:hover {
    background: #fff;
    color: #212121;
}

.icon.invert img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.butn .icon {
    width: 18px;
}

.butn:hover .icon.invert img {
    -webkit-filter: invert(0);
    filter: invert(0);
}

/* ====================== [ Start Responsive ] ====================== */

@media screen and (max-width: 992px) {
    .header-dm .caption {
        height: 700px;
    }
    .header-dm .mimg {
        width: 98%;
        top: -15px;
        right: 1%;
    }
    .header-dm .mimg .shaps.top {
        width: 90%;
        height: 220px;
    }
    .sec-head .sub-head {
        margin-bottom: 30px;
    }
    .text-indent {
        text-indent: inherit;
    }
    .intro-vid {
        margin-top: 120px;
    }
    .services-dm .item .title h2 {
        font-size: 80px;
    }
    .works-dm .sec-head {
        padding-left: 0;
    }
    .works-dm .gallery,
    .works-dm .items {
        position: static !important;
        height: auto !important;
    }
}

@media screen and (max-width: 768px) {
    .header-dm .caption h1 {
        font-size: 40px;
        letter-spacing: -1px;
    }
    .services-dm .item {
        display: block !important;
    }
    .services-dm .item .title h2 {
        font-size: 60px;
        margin-bottom: 10px;
    }
    .intro-vid {
        margin-top: 0;
    }
    .intro-vid .bg-img .states {
        display: none;
    }
    .testimonials-dm .sec-head .states .ml-80 {
        margin-left: 15px !important;
    }
}

.testimonials-mp {
    position: relative;
    overflow: hidden !important;
}

.testimonials-mp .brush {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.testimonials-mp .sec-head .gl-rate {
    margin: 40px auto 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    padding: 10px 20px;
}

.testimonials-mp .sec-head .gl-rate .icon {
    width: 45px;
}

.testimonials-mp .sec-head .gl-rate .cont {
    padding-left: 30px;
    text-align: left;
}

.testimonials-mp .sec-head .gl-rate .cont h6 {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
}

.testimonials-mp .sec-head .gl-rate .cont .stars {
    font-size: 13px;
    color: #ef2b10;
    margin-left: 10px;
}

.testimonials-mp .sec-head .gl-rate .cont p {
    font-size: 12px;
    margin-top: 2px;
}

.testimonials-mp .testim-swiper {
    position: relative;
    overflow: visible;
    padding: 150px 0 250px;
    background-image: url(/assest/imgs/testim/global.png);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.testimonials-mp .swiper-slide {
    margin-right: -50px;
    width: 400px;
    height: auto;
}

.testimonials-mp .item {
    padding: 40px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.testimonials-mp .item .info p {
    font-size: 14px;
}

.testimonials-mp .item .info span {
    font-size: 16px;
}

.testimonials-mp .item .info .img-author {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials-mp .item:hover {
    z-index: 5;
}

.testimonials-mp .gray {
    background: #eeeeee;
    color: #000;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.testimonials-mp .colorful {
    background: var(--main-color);
    color: #000;
    -webkit-transform: rotate(2deg) translateY(80px);
    -ms-transform: rotate(2deg) translateY(80px);
    transform: rotate(2deg) translateY(80px);
    z-index: 3;
}

.testimonials-mp .darklen {
    background: #151515;
    color: #fff;
    -webkit-transform: rotate(2deg) translateY(-50px);
    -ms-transform: rotate(2deg) translateY(-50px);
    transform: rotate(2deg) translateY(-50px);
}

.testimonials-mp .darklen p {
    color: #d1d1d1;
}

.testimonials-mp .lighten {
    background: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: 3;
}

.box-light {
    background-color: #fff;
    color: #000;
    position: relative;
    border-radius: 0 0 30px 30px;
    z-index: 4;
}

.box-light .layers {
    position: absolute;
    top: 5px;
    left: 30px;
    right: 30px;
    bottom: -10px;
    background: #fff;
    border-radius: 15px;
    opacity: .7;
    z-index: -1;
}

.box-light .layers:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 20px;
    right: 20px;
    bottom: -10px;
    background: #fff;
    border-radius: 15px;
    opacity: .7;
    z-index: -1;
}

.box-light.botm-box {
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
}

.box-light.botm-box .layers {
    top: -10px;
    bottom: 5;
}

.box-light.botm-box .layers:after {
    top: -10px;
    bottom: 5px;
}

.modal .modal-dialog {
    height: auto;
}
.modal .modal-dialog .modal-content {
    margin: 40px auto;
    z-index: 1050; 
}
.modal .modal-dialog .modal-content .getdemo-butn{
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    border-radius: 16px;
    background-color: var(--main-color);
}
.modal .modal-dialog .modal-content .getdemo-butn:hover{
    background-color: white;
    
}

.modal-backdrop {
    z-index: 1040;
    pointer-events: none;  
}
.modal-backdrop.show{
    opacity: 0;
}

.user-data-form h2 {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 10px;
}
.user-data-form p a {
    color: #31795a;
}
.user-data-form p a:hover {
    text-decoration: underline;
}
.user-data-form .form-wrapper {
    max-width: 565px;
}
.user-data-form .form-wrapper .input-group-meta input {
    width: 100%;
    height: 55px;
    font-size: 16px;
    border: 1px solid rgba(37, 64, 53, 0.06);
    border-radius: 8px;
    padding: 0 52px 0 20px;
    color: #000;
    background: white;
}
.user-data-form .form-wrapper .input-group-meta label {
    font-size: 16px;
    font-weight: normal;
    color: white;
    display: block;
    margin-bottom: 6px;
}
.user-data-form .form-wrapper .input-group-meta .placeholder_icon {
    position: absolute;
    height: 55px;
    top: 30px;
    right: 0;
    bottom: 0;
    width: 50px;
    text-align: center;
    z-index: 1;
    color: rgba(0, 0, 0, 0.45);
    font-size: 17px;
}
.user-data-form .form-wrapper .input-group-meta .placeholder_icon img {
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
}
.user-data-form .form-wrapper .input-group-meta .placeholder_icon span {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    position: relative;
}
.user-data-form .form-wrapper .input-group-meta .placeholder_icon span:before {
    content: "";
    width: 2px;
    height: 26px;
    background: #000;
    position: absolute;
    top: 14px;
    left: 24px;
    transform: rotate(45deg);
    z-index: 5;
    transition: all 0.2s ease-in-out;
}
.user-data-form
    .form-wrapper
    .input-group-meta
    .placeholder_icon
    span.eye-slash:before {
    opacity: 0;
}
.user-data-form .agreement-checkbox label {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #19352d;
    cursor: pointer;
    padding-left: 22px;
    transition: all 0.1s ease-in-out;
}
.user-data-form .agreement-checkbox label a {
    color: #0e3e2f;
    text-decoration: underline;
}
.user-data-form .agreement-checkbox input[type="checkbox"] {
    display: none;
}
.user-data-form .agreement-checkbox label:before {
    content: "";
    width: 14px;
    height: 14px;
    line-height: 11px;
    border-radius: 2px;
    border: 2px solid #b3b3b3;
    font-size: 12px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 4px;
    transition: all 0.1s ease-in-out;
}
.user-data-form
    .agreement-checkbox
    input[type="checkbox"]:checked
    + label:before {
    content: "ï˜³";
    font-family: bootstrap-icons !important;
    background: #000;
    color: #fff;
    border-color: #000;
}
.user-data-form .agreement-checkbox a {
    position: relative;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.user-data-form .agreement-checkbox a:hover {
    text-decoration: underline;
    color: #0e3e2f;
}
.user-data-form .line {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.user-data-form .social-use-btn {
    font-size: 16px;
    color: #000;
    height: 55px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
}
.user-data-form .social-use-btn:hover {
    background: rgba(0, 0, 0, 0.06);
}
.user-data-form .social-use-btn img {
    width: 20px;
}
.user-data-form .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    box-shadow: none;
    z-index: 1;
}
.user-data-form .nav {
    background: #f0f5f3;
    border-radius: 40px;
}
.user-data-form .nav .nav-item {
    width: 50%;
}
.user-data-form .nav .nav-item .nav-link {
    font-weight: 500;
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    font-size: 20px;
    color: #839b8f;
}
.user-data-form .nav .nav-item .nav-link.active {
    color: #29594b;
    border-color: #29594b;
}